.endeavorus {
    height: 100vh;
    position: relative;

    font-size: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background: url('/endeavours/EHero.png') no-repeat center center/cover;
}
.endeavorus::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.4);
}
.endeavours_Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 100;
}
.endeavours_Title {
    padding: 1em 0;
}
.endeavours_Title > p {
    font-size: 3em;
    font-weight: 500;

    color: #FFFF;
}
.endeavours_Descript {
    width: 80%;
}
.endeavours_Descript > p {
    text-align: center;
    font-size: 1.3em;
    color: #FFFF;

    line-height: 130%;
}

/* next section */
.pHouseTitle {
    padding: 2em 0;
}
.pHouseTitle > p {
    font-size: 2.75em;
    font-weight: 600;
}
.pHouseDescript {
    width: 70%;
}
.pHouseDescript > p {
    font-size: 1.3em;
    text-align: center;
    line-height: 150%;
}

/* solutions section */
