.leadership {
    padding: 2rem;

    font-size: 1rem;
}
.leadership__container {
    padding: 2em 4em;
}
.leadership_Content {
}
.leadership_Title {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2em 0;
}
.leadership_Title > p {
    font-size: 3em;
    font-weight: 600;

    text-transform: uppercase;
}
.leaders {
    /* border: 1px red solid; */
}
.leader {
    margin: 0em 0 12em 0;
}
.leaderTitleWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
}
.leaderTitle > p {
    font-size: 2.4em;
    font-weight: 600;
    text-transform: uppercase;
}
.leaderContent {
    display: flex;
    margin: 2em 0;
}
.leaderContentA {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.leaderImg {
    width: 35em;
    height: 35.9em;

}
.leaderImg > img {
    height: 100%;
    width: 100%;

    
    object-fit: contain;
}
.leaderPositionWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 1em 0;
}
.leaderName {
    padding: 1em 0 0.5em 0;
}
.leaderName > p {
    font-size: 1.75em;
    font-weight: 600;
}
.leaderPos {
    padding: 0;
}
.leaderPos > p {
    font-size: 1.2em;
}
.leaderContentB {
    /* border: 1px red solid; */
}
.aboutLeader > p {
    font-size: 1.2em;
    line-height: 150%;
}