.awardsHero {
    position: relative;
    height: 90vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background: url('/awards/awardsHeroImg.png') no-repeat center center/cover;
    background-attachment: fixed;

    font-size: 1rem;
}
.awardsHero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background: rgba(0, 0, 0, 0.5);
}
.awards_TextContainer {
    z-index: 10000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.awards_Title {
    padding: 2em 0;
}
.awards_Title > p {
    font-size: 4em;
    color: #FFF;
    font-weight: 600;
}
.awards_Descript {
    width: 80%;
}
.awards_Descript > p {
    font-size: 1.3em;
    text-align: center;
    font-weight: 400;
    line-height: 140%;
    color: #FFFF;
}





/* honors */
.honors {
    padding: 2em 4em;
    font-size: 1rem;
    background: #224435;
}
.honorsContainer {
    padding: 4em 4em;
}
.honorsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.honorsWrapperTitle {
    padding: 0 0 4em 0;
}
.honorsWrapperTitle > p {
    font-size: 4em;
    font-weight: 600;
    text-transform: uppercase;

    color: #F5F5F5;
}
.honorsShowcase {
    height: 60vh;
    position: relative;
}
.honorsImgShowcase > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.honorsShowcase::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: .4em;

    background: rgba(0, 0, 0, 0.3);
}
.honorsDescript {
    margin: 4em 0;
    width: 80%;
}
.honorsDescript > p {
    font-size: 1.3em;
    text-align: center;
    line-height: 140%;

    color: #F5F5F5;
}

/* charitable */
.charitableMain {
    padding: 2em 0;
    font-size: 1rem;
}
.charitable {
    padding: 2em 0;
}
.charitableContainer {
    padding: 2em 4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.charitableA {
    width: 48%;
    height: 80vh;
}
.charitableB {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.charitableTitle {
    padding: 0 0 2em 0;
}
.charitableTitle > p {
    font-size: 3.6em;
    font-weight: 600;
}
.charitableDescript {
    padding: 0.5em 0;
}
.charitableDescript > p {
    font-size: 1.3em;
    line-height: 140%;
}
/* charitable-mob */
.charitableTitle.mob {
    display: none;
}
.charitableA.mob {
    display: none;
}
/* ---- */

/* neem */
.neemMain{
    padding: 2em 0;
    font-size: 1rem;
}
.neem {
    padding: 2em 4em;
}
.neemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.neemTitle {
    padding: 0 0 2em 0;
    width: 80%;
}
.neemTitle > p {
    font-size: 3.6em;
    font-weight: 600;
    text-align: center;
}
.neemA {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 80vh; */
}
.neemAnim {
    flex: 0 0 40%;
    aspect-ratio: 3/2;
    margin: 0 1em;
    animation: 18s neem infinite linear;
}
@keyframes neem {
    from{
        transform: translateX(0);
      }
      to {
        transform: translateX(-423%);
      }
}


/* swiper */
.gridSwiper {
    padding: 3rem 0;
    font-size: 1rem;
}
.gridSwiperTitle {
    padding: 0 0 4em 0;
}
.gridSwiperTitle > p {
    font-size: 3.6em;
    font-weight: 600;

}
.gridSwiper.mob {
    display: none;
}

.videoContainer  {
    padding: 0 4rem 6rem 4rem;
    font-size: 1rem;    
}

/* media-query */
@media(max-width: 780px) {
    /* video */
    .videoContainer {
        font-size: 2rem;
        padding: 0 4em 9em 4em;
    }

    /* awards-hero */

    .awardsHero {
        font-size: 2rem;

        background-attachment: unset;
    }
    .awards_Title > p {
        font-size: 7em;
        font-weight: 600;
        text-align: center;
    }
    .awards_Descript {
        width: 90%;
    }
    .awards_Descript > p {
        font-size: 1.7em;
    }

    /* honors */
    .honors {
        padding: 2em 0;
        font-size: 2rem;
    }
    .honorsContainer {
        padding: 4em 4em;
    }
    .honorsWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .honorsWrapperTitle {
        padding: 0 0 4em 0;
    }
    .honorsWrapperTitle > p {
        font-size: 4.4em;
        text-align: center;
    }
    .honorsShowcase {
        height: 20vh;
    }
    .honorsImgShowcase > img {
        object-fit: cover;
    }
    .honorsDescript {
        margin: 4em 0;
        width: 100%;
    }
    .honorsDescript > p {
        font-size: 1.6em;
        line-height: 150%;
    }

    /* charitable builder */
    .charitableTitle {
        display: none;
    }
    .charitableA {
        display: none;
    }
    .charitableTitle {
        display: inline;
    }
    .charitableA.mob {
        display: inline;
    }

    .charitableMain {
        padding: 2em 0;
        font-size: 2rem;
    }
    .charitable {
        padding: 2em 0;
    }
    .charitableContainer {
        padding: 2em 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .charitableA {
        width: 100vw;
        height: 60vh;
    }
    .charitableB {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .charitableTitle {
        padding: 0 0 6em 0;
    }
    .charitableTitle > p {
        font-size: 4.4em;
        text-align: center;
    }
    .charitableDescript {
        padding: 6em 0;
    }
    .charitableDescript > p {
        font-size: 1.6em;
        line-height: 150%;
    }
    /* ---- */
    /* NEEM */
    .neemMain{
        padding: 6em 0;
        font-size: 2rem;
    }
    .neem {
        padding: 2em 0;
    }
    .neemContainer {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .neemTitle {
        /* padding: 0 0 2em 0; */
        margin: 0 0 1em 0;
    }
    .neemTitle > p {
        font-size: 4.4em;
        text-align: center;
    }
    .neemA {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .neemAnim {
        flex: 0 0 60%;
    }

    /* grid-swiper */
    .gridSwiper {
        font-size: 2rem;
        display: none;
    }
    .gridSwiper.mob {
        display: block;
        padding: 16rem 0 6rem 0;
    }
}