.hero {
    height: 100vh;
    font-size: 1rem;

    /* background: url('/Landing/hero_image.png') no-repeat center center/cover; */
    /* background-attachment: fixed; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    
}
/* .heroImage {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    z-index: -10;
} */

.hero_Content_Container {
    width: 45%;
    margin: 0 4em 14em 0;
    z-index: 100;
}
.hero_Content {
    /* border: 1px red solid; */
}
.hero_Title {
    width: 80%;
    padding: 0.5em 0;
}
.hero_Title > p {
    font-size: 3em; /* header font-size 2.8em */
    font-weight: 500;
    
    color: #FFFF;
}
.hero_Description > p {
    font-size: 1.3em; /* description font-size 1.5em */
    font-weight: 400;
    line-height: 140%;

    color: #FFFF;
}

/* media-query */
@media(max-width: 780px) {
    .hero {
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        padding: 0 1em;
    }  
    .hero_Content_Container {
        width: 100%;
        margin-bottom: 8em;
        margin-inline: auto;
    } 
    .hero_Title {
        width: 100%;
        padding: 2em 0;
    }
    .hero_Title > p {
        font-size: 4em;
        font-weight: 600;
        text-align: center;
    }
    .hero_Description {
        padding: 0 1em;
    }
    .hero_Description > p {
        font-size: 1.6em;
        text-align: center;
    }
}