.purpose {
    padding: 2rem;
    font-size: 1rem;
}
.purpose_Container {
    padding: 2em 4em;
}
.purpose_Content {
    /* border: 1px red solid; */

}
.purpose_Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.purpose_Title {
    padding: 1em 0;
}
.purpose_Title > p {
    font-size: 3em;
    font-weight: 600;

    text-transform: uppercase;
}
.purpose_Description > p {
    font-size: 1.1em;
}
.purpose_Cards {
    margin: 1em 0;
}
.purpose_Cards_Wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.purpose_Card_Item {
    height: 29.6em;
    width: 24.43em;
    margin: 2em 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: #F5F5F5;
    border-radius: 0.4em;
}
.purpose_Card_img {
    height: 40%;
    width: 100%;
}
.purpose_Card_img > img {
    height: 100%;
    width: 100%;

    border-top-right-radius: 0.4em;
    border-top-left-radius: 0.4em;
    object-fit: cover;
}
.purpose_Card_Text {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 1em;
}
.purpose_Card_title {
    margin: 1em 0 0 0;

    position: relative;
}
.purpose_Card_title > p {
    font-size: 1.3em;
    font-weight: 600;

    text-transform: uppercase;
}
.purpose_Card_description {
    padding: 1em 0;
}
.purpose_Card_description > p{
    text-align: center;
    font-size: 1em;
    line-height: 135%;
}

@media(max-width: 780px) {
    .purpose {
        font-size: 2rem;
    }
    .purpose_Title {
        padding: 2em 0;
    }
    .purpose_Title > p {
        font-size: 4.4em;
    }
    .purpose_Description {
        margin: 0 0 2em 0;
    }
    .purpose_Description > p {
        font-size: 1.6em;
    }
    .purpose_Card_Text {
        padding: 1em 0 0 0;
    }
    .purpose_Card_Item {
        height: fit-content;
        width: 32.43em;
        padding: 2em 2em 4em 2em;

        /* background: rgb(117, 155, 69); */
        background: rgb(106, 140, 64);

    }
    .purpose_Card_title > p {
        font-size: 2em;
        text-align: center;
        color: #F5F5F5;
    }
    .purpose_Card_title::after {
        content: '';
        position: absolute;

        bottom: -10%;
        left: 50%;
        transform: translate(-50%,0);
        width: 80%;
        height: 1px;
        background: #F5F5F5;
    }
    .purpose_Card_description {
        padding: 1.6em 0;
    }
    .purpose_Card_description > p {
        font-size: 1.6em;
        color: #FFF;
    }
    .purpose_Cards_Wrapper {
        align-items: center;
        justify-content: center;
    }
    .purpose_Card_Item {
        /* height: 40em; */
    }
}