.ourwork {
    padding: 2rem;
    background: #224435;
    /* background: #184c77; */

    font-size: 1rem;

    color: #FFFF;
}
.ourwork_Container {
    padding: 2em 4em;
}
.ourwork_Content {
    /* border: 1px red solid; */
}
.ourwork_Title_Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.ourwork_Title {
    padding: 1em 0;
}
.ourwork_Title > p {
    font-size: 4em;
    font-weight: 600;

    text-transform: uppercase;
}
.ourwork_SubTitle {
    width: 50%;
}
.ourwork_SubTitle > p {
    font-size: 1.3em;
    text-align: center;
    line-height: 150%;
}
.ourwork_Showcase {
    margin: 4em 0;
}
.ourwork_Item {
    margin: 4em 0;
    padding: 0 1em;
}
.ourwork_Item_Title {
    padding: 1em 0 1.6em 0;
}
.ourwork_Item_Title > p {
    font-size: 2em;
    font-weight: 600;
}
.ourwork_Item_Bottom {
    display: flex;
    justify-content: space-between;
}
.ourwork_Item_img {
    width: 40%;
    height: 23.1em;
}
.ourwork_Item_img > img {
    height: 100%;
    width: 100%;
    border-radius: 0.4em;
    
    object-fit: cover;
}
.ourwork_Item_description {
    width: 50%;
}
.ourwork_Item_description > p {
    font-size: 1.3em;
    line-height: 150%;
}
.ourwork_Link {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ourwork_Link_Text > p {
    font-size: 1.2em;
    text-transform: uppercase;
}

.ourwork_Item_Bottom.Mob {
    display: none;
} 

@media(max-width: 780px) {
   .ourwork {
    font-size: 2rem;
    padding: 2em 0;
   } 
   .ourwork_Container {
    padding: 2em 0;
   }
   .ourwork_Item {
    display: flex;
    flex-direction: column;
    align-items: center;


    margin: 2em 0;
    padding: 2em 0;

   }
   .ourwork_Item_Bottom {
    display: none;
    }
    .ourwork_Item_Bottom.Mob {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4em 1em 2em 1em;

    }
    .ourwork_Item_img {
        height: 20em;
        width: 80%;
    }
    .ourwork_Item_img > img {
        height: 100%;
        width: 100%;
        border-radius: 0.4em;
        
        object-fit: cover;
    }
    .ourwork_Item_Title {
        padding: 0 0 3em 0;
    }
   .ourwork_Title {
    padding: 4em 0 1em 0;
   }
   .ourwork_Title > p {
    font-size: 7em;
   }
   .ourwork_SubTitle {
    width: 84%;
    margin: 1em 0;
   }
   .ourwork_SubTitle > p {
    font-size: 1.6em;
   }

   .ourwork_Item_description {
    width: 80%; 
    padding: 2em 0;
    }   
    .ourwork_Item_description > p {
        font-size: 1.6em;
    }
    .ourwork_Item_Title {
        position: relative;
    }
    .ourwork_Item_Title > p {
        font-size: 3.4em;
    }
    .ourwork_Item_Title::after {
        content: "";
        position: absolute;
        top: 56%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 70%;
        height: 1px;
        background-color: #FFFF;
    }
    .ourwork_Link_Text {
        color: #88d4ae;
        font-size: 1.5em;
    }

}