.contactBg {
    /* background: url('/contactHeroImg.png') no-repeat center center/cover; */
    background: url('/Hero\ Image\ Contact.png') no-repeat center center/cover;

    background-attachment: fixed;

    height: 100vh;

    font-size: 1rem;
    position: relative;
}
.contactBg::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0%;
    /* transform: translate(0, -50%); */
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
}
.contact {
    padding: 2em;
    background-color: #224435;
    font-size: 1rem;

}
.contact_Container {
    padding: 6em 4em 2em 4em;
}
.contact_Text {

}
.contact_Title > p {
    font-size: 4em;
    font-weight: 600;

    text-align: center;
}
.contact_Subtitle {
    width: 50%;
    margin: 1em 0;
}
.contact_Subtitle > p {
    font-size: 1.3em;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.01em;
}
/* Form */
.contact_FormContainer {

    /* background: #d9d9d9; */
    border-radius: 2em;
    padding: 2em 8em;

    margin: 4em 0;
}
.form_Form {
    background-color: #FFFF;
    padding: 4em 4em;

    border-radius: 1em;
}
.form_ImgContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_Img {
    height: 10em;
    width: 10em;
}
.form_Img > img {
    height: 100%;
    width: 100%;

    object-fit: contain;
}
label {
    margin: 0.5em 0;
}
input {
    background: none;
    outline: none;
    color: #0E0E0E;

    padding: 1.4em 2em;
    border-radius: 0.2em;
}
select {
    padding: 1em;
    border-radius: 0.2em;
    background: none;
    color: #000;
}
#dropdown option {
    color: #000;
}
textarea {
    outline: none;
    background: none;
    padding: 2.2em 1em 2.2em 1em;
    height: 200px;

    resize: none;

    border-radius: 0.6875em;
    margin: 0 0 0.2em 0;
    color: #0E0E0E;

}
/* form input fields */
.form_FullName {
    width: 45%;
    margin: 0.5em 0;
}
.form_Email {
    margin: 0.5em 0;
}
.form_MobileNumber {
    width: 45%;
    margin: 0.5em 0;
}
.form_Address {
    margin: 0.5em 0;
}
.form_Message {
    margin: 1em 0;
}

/* states */
.notFocused {
    border: 1px grey solid;
}
.focused {
    border: 1px #224435 solid;
}
.textFocused {
    color: #000;
}
.textNotFocused {
    color: rgba(0,0,0,.5);
}
/* ERROR */
.form_Error {
    color: red;
    margin: 0.5em 0;
}
.form_Btn {
}
.form_Btn button {
    outline: none;
    border: none;

    width: 100%;
    padding: 1em 0;

    border-radius: 2em;
    cursor: pointer;

    background: #0E0E0E;
    color: #F5F5F5;

    font-size: 1.6em;
    transition: all 1s ease;
}
.form_Btn:hover button {
   opacity: 0.9;
}

/* popup */
.popUpText_Container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(0, 5%);
    padding: 16em 9em;
    z-index: 1000;
    background: #224435;
    width: 70%;
}
.popUpText_Container > p {
    color: #FFF;
    text-align: center;

    font-size: 1.4em;
    line-height: 150%;
    padding: 1em 0;
}
.popUpText_Container > a {
    opacity: 0.8;
    font-size: 1.8em;
}
.popUpText_Container > a:hover {
    opacity: 1;
}

/* popupClose */
.popUpClose {
    position: absolute;
    top: 10%;
    right: 10%;
    cursor: pointer;
    font-size: 2em;
}

@media(max-width: 780px) {
    .contactBg {
        font-size: 2rem;
        background: url('/Hero\ IMG\ Contact\ mobile.png') no-repeat center center/cover;

        background-attachment: unset;

    }
    .contact_Title > p {
        font-size: 7em;
        font-weight: 600;    
    }
    .contact_Subtitle {
        width: 80%;
        margin: 2em 0;
    }
    .contact_Subtitle > p {
        font-size: 1.6em;
        text-align: center;
    }

    /* form */

    .contact {
        padding: 2em 0;
        background-color: #224435;
        font-size: 1rem;
    }
    .contact_Container {
        padding: 6em 2em 2em 2em;
    }

    .contact {
        font-size: 2rem;
    }

    .contact_FormContainer {
        border-radius: 2em;
        padding: 2em 0em;
    
        margin: 4em 0;
    }
    .form_Form {
        padding: 4em 2em;
    }

    textarea {
        height: 100px;
    }

    input {
        padding: 1em;
    }

    /* popup */
    .popUpText_Container {
        width: 100%;
        padding: 16em 2em;
    }
    .popUpText_Container > p {
        padding: 2em 0;
    }
    .popUpClose {
        position: absolute;
        top: 15%;
        right: 10%;
        cursor: pointer;
        font-size: 3em;
    }
    
}